= form_for(@machine) do |f|
  - if @machine.errors.any?
    #error_explanation
      %h4= "#{pluralize(@machine.errors.count, "error")} prohibited this machine from being saved:"
      %ul
        - @machine.errors.full_messages.each do |msg|
          %li= msg
  
  #fields
    = render "#{@machine.step.to_s}_fields", :f => f

  #actions
    = f.submit @machine.last_step? ? "Submit" : "Continue"
