%ol
  %li
    = f.label :start_state
    = f.select :start_state, @machine.states
  %li
    = field_set_tag 'Accept states set' do
      - @machine.states.each do |state|
        - checked = (@machine.accept_states.include?(state) if @machine.accept_states)
        - id = "machine_accept_state_#{state}"
        = check_box_tag 'machine[accept_states][]', state, checked, :id => id
        = label_tag id, state
  %li
    = f.label 'Transition function table'
    %table
      %thead
        %tr
          %th
          - @machine.alphabet.each do |alpha|
            %th= alpha
      %tbody
        - @machine.states.each do |state|
          %tr
            %td= state
            - @machine.alphabet.each do |alpha|
              %td
                - selected_state = @machine.transition_func[state][alpha] if @machine.transition_func && @machine.transition_func[state]
                = select_tag "machine[transition_func][#{state}][#{alpha}]", options_for_select([nil] + @machine.states, selected_state || nil)