- title "Processing word with \'#{@machine.name}\' machine"

- content_for :places do
  %li= link_to '« show the machine', @machine

%div#states
  %div.states_container
    - @graph_log.each_with_index do |graph, i|
      %div.state
        %div.graph!= graph
        %p.caption!= "input: #{caption(@word, i)}"
  %div.states_controls
    %a.prev= "« prev"
    %a.next= "next »"

= form_tag(process_word_path(@machine), :class => 'process_word_machine') do |f|
  %ol
    %li
      %label{:for => 'machine_word'}= "machine " + (@accepted ? "accepted" : "didn\'t accept") + " the word"
      %input{:type => 'textfield', :id => 'machine_word', :name => 'machine[word]', :value => @word.join(' ')}

