%p#notice= notice

%h2= "Showing machine \'#{@machine.name}\'"
%ul
  %li= @machine.states.to_json
  %li= @machine.alphabet.to_json
  %li= @machine.accept_states
  %li= @machine.start_state
  %li= @machine.transition_func

%ul
  %li= link_to 'Show all', machines_path
