%h2= "Showing machine \'#{@machine.name}\'"

%img{:src => "#{machine_path(@machine)}.svg"}
=# image_tag @machine.graph.url

= form_tag(process_word_path(@machine), :method => :post) do |f|
  %ul
    %li
      %label{:for => 'machine_word'} word for the machine to process
      %input{:type => 'textfield', :id => 'machine_word', :name => 'machine[word]'}

%ul
  %li
    download:
    %ul
      - [:svg, :png, :dot].each do |f|
        %li= link_to "#{f} file", machine_path(@machine, :format => f)
  %li= link_to 'edit machine',   edit_machine_path(@machine)
  %li= link_to 'delete machine', @machine, :confirm => 'Do you really want to delete this DFM?', :method => :delete
%ul
  %li= link_to 'show all machines', machines_path

