!!!
%html
  %head
    %title= "MachineJam" + yield(:title)
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz'
    = stylesheet_link_tag 'compiled/screen.css'
    = javascript_include_tag :defaults
    = javascript_include_tag 'jquery.min.js'
    = javascript_include_tag 'jquery.slides.min.js'
    = javascript_include_tag 'jquery.slides.options.js'
    = csrf_meta_tag
  %body
    %header
      %h1#logo
        = link_to'MachineJam', root_path
        %span= yield :title
    %nav
      %ul#places
        = yield :places
    - if alert
      %p.alert= alert
    - elsif notice
      %p.notice= notice
    %section#content
      = yield
