!!!
%html
  %head
    %title MachineJam
    = stylesheet_link_tag 'compiled/screen.css'
    = javascript_include_tag :all
    = csrf_meta_tag

  %body
    %header
      %h1= link_to 'MachineJam', root_path
      - if alert
        %p#alert= alert
      - elsif notice
        %p#notice= notice
    %section
      = yield
